.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nc
*.tif
*.ncf
*.hdf
MIRS
oco2
savedOutput/simulations
savedOutput/Ed
Figures/*.pdf
Figures/*.png
Figures/BCEF
Figures/applicationOCO2
Figures/applicationMIRS
Figures/Ed/badBuffer
Figures/Ed/old
Figures/Ed/old2
Figures/finalMixture/old10
Figures/finalMixtures/mid10
