.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.nc
*.nc4
*.tif
*.ncf
*.hdf
Figures
MIRS
oco2
Kenya2014Pop
savedOutput/simulations
savedOutput/Ed
savedOutput/heaton
savedOutput/OCO2
savedOutput/BCEF
